@using EShop.Domain
﻿@using Microsoft.Extensions.Options
@model EShop.Domain.DTO.ShoppingCartDto
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Index";
}

<body style="background-color:azure">

    <h3 style="font-style: oblique;
  margin-bottom: 22px;
">
        Shopping Bag
    </h3>

@if (Model.TotalPrice != 0)
{
    <form asp-controller="ShoppingCarts" asp-action="PayOrder" method="post" style="">
        <article>
            <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-locale="auto"
                    data-description="EShop Application Payment"
                    data-amount="@(Model.TotalPrice * 100)"
                    data-label="Pay $@Model.TotalPrice">
            </script>
        </article>
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                Book name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Books.Count(); i++)
        {
            var item = Model.Books[i];
            <tr>
                <td>
                    <img src="@item.Book.BookImage" style="width:10rem"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Book.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    
                        <a asp-action="DeleteFromShoppingCart" asp-controller="ShoppingCarts" asp-route-id="@item.Book.Id" class="btn" style="background: #ef8b5c;
  color: #1520a5;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    <th><b>Total:</b></th>

    <th></th>
    <th></th>
    <th></th>

    <th><b>@Model.TotalPrice $</b></th>

    </tfoot>
</table>
</body>